[Unit]
Description=Telegram bot 'SuperPuperTelegramBot'
After=syslog.target
After=network.target

[Service]
Type=idle
User=root
WorkingDirectory=/home/ubuntu/projects/bot/first
ExecStart=/home/ubuntu/venv/bot/bin/python /home/ubuntu/projects/bot/first/main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target

