[Unit]
Description=Telegram bot 'SuperPuperTelegramBot'
After=syslog.target
After=network.target

[Service]
Type=idle
User=root
WorkingDirectory=/home/tele/bot/first
ExecStart=/usr/bin/python3 /main.py
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target

